* {
    margin: 0;
    font-family: Roboto;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 280px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 30px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content {
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    border: 0;
    margin-top: 10px;
}

.left-text {
    margin-right: -100px;
}

.right-image {
    margin-left: -100px;
}

.sign-up-text {
    color: #E5E7EB;
    font-size: 15px;
}


.image-placeholder {
    width: 650px;
    height: 230px;
}


.second-section {
    display: flex;
    padding-bottom: 80px;
    margin-bottom: 40px;
    flex-direction: column;
}

.top {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.top-text {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 150px;
    width: 150px;
    outline: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subtext {
    font-size: 18px;    
    text-align: center;
}

.third-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 180px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.quote-container {
    display: flex;
    justify-content: flex-start;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.hero-container {
    display: flex;
    justify-content: flex-end;
}
.hero-name {
    font-weight: bold;
}

.fourth-section {
    display: flex;
    justify-content: center;

    padding: 120px 20px;
}

.fourth-section .content {
    background-color: #3882F6;
    padding: 40px 90px;
    width: 800px;
    border-radius: 10px;
}

.fourth-section .top-text {
    color: #F9FAF8;
}

.fourth-section .bottom-text {
    color: #F9FAF8;
    font-weight: lighter;
}

.fourth-section .right {
    display: flex;
}

.fourth-section .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section .sign-up {
    border: #F9FAF8 2px solid;
    background-color: #3882F6;
    width:100px;
    height:35px;
    border-radius: 10px;
}

.fourth-section .text {
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    padding: 40px;
    justify-content: center;
}

.info {
    color: #F9FAF8;
}